@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* Font-Family */
    --font-libre:"David Libre", sans-serif;
    --font-inter:"inter", sans-serif;

    /* Font-Sizes */
    --font-heading-one:70px;
    --font-text-base: 16px;

    /* Font-Weights */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* colors */
    --color-primary: #101A24;
    --Hero-page-backgroundcolor1: #fff;
    --Hero-page-backgroundcolor2: #f3f4f4;

    /* buttons color, padding and radius */
    --button-background-orange: #EA6D27;
    --button-background-darkblue: #101A24;
    --padding-sm: 15px 24px;
    --padding-md: 18px 32px;
    --padding-md-two: 16px 32px;
    --border-radius-sm: 10px;
    --border-radius-md: 15px;
    --border-radius-lg:32px;
    
}
button{
    width: max-content;
    outline: none;
    resize: none;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease-in-out;
    font-family: var(--font-libre);
    font-size:var(--font-text-base) ;
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
    cursor: pointer;
    border-top-left-radius: var(--border-radius-md);
    border-bottom-right-radius: var(--border-radius-md);
    background-color: var(--button-background-orange);
    color: var(--color-secondary);
    padding: var(--padding-sm);
    margin: 50px;
}
button:hover{
    transform: scale(1.05);
}
html,body{
    width: 100%;
    height: 100%;
    font-family: var(--font-inter);
}